.ftr{
    background-color: #d73131;
    height:100px;
}

.cprt{
    padding-right: 50px;
    padding-bottom: 100px;
}

.fb{
    padding-right: 200px;
    padding-top: 0px;
}

.twi{
    padding-right: 3px;
    padding-top: 0;
}

.yt{
    padding-left: 40px;
    padding-bottom: px;
}