.banner{
    background-image: url('https://st.depositphotos.com/1010338/3141/i/450/depositphotos_31417309-stock-photo-statistics-charts.jpg');
    background-size: cover;
    height:300px;
    color:rgb(174, 32, 32);
    padding-right: 50%;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 90px;
    
}
.content{
    padding-top: 100px;;
    font-size: large;
    font-weight: 800;
    color: aliceblue;
}



